# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/

# Ignore the yml file for local deployment
_config_dev.yml

# Sphinx documentation builds
docs/_build/
docs/_static/
docs/_templates/

#ignore note for myself
Note_for_myself.txt
